<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @college.state %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @college.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @college.lon %>
</p>

<%= link_to 'Edit', edit_api_v1_college_path(@college) %> |
<%= link_to 'Back', api_v1_colleges_path %>
