<!DOCTYPE html>
<html>
<head>
  <link rel="image_src" 
    type="image/jpeg" 
    href="http://5344fdfb35e6104aeeb1-7538e1c14dd4282c36fc5d56a177ff04.r8.cf1.rackcdn.com/icon.png" />

  <title>CollegeFeed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="image_src" href="/logo.png" />
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
