<div ng-app="cfeed" >
  <div>
    <nav class="navbar navbar-default" role="navigation" id="default">
      <div class="absoluteFull" id="navBg" randombgpos>

      </div>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= fa_icon 'mortar-board' %>College<span class="light">Feed</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feeds<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">All Colleges</a></li>
                <li><a href="#">Near Me</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


    <div class="container">


      <div class="col-med-12">
        <div class="card slide pointer">
          <div class="card-background absoluteFull" randombgpos>
          </div>
          <div class="card-controls">
            <div class="button-container">
              <div class="button" data-toggle="modal" data-target="#getAppModal"><div class="button-text"><%= fa_icon "arrow-up" %></div></div>
              <div class="button" data-toggle="modal" data-target="#getAppModal"><div class="button-text"><%= fa_icon "arrow-down" %></div></div>
              <div class="button" data-toggle="modal" data-target="#getAppModal"><div class="button-text"><%= fa_icon "flag" %></div></div>
              <div class="button" data-toggle="modal" data-target="#sendEmailModal"><div class="button-text"><%= fa_icon "envelope" %></div></div>
            </div>
          </div>
          <div class="card-content">
            <h3 converttagstolinks=""><%= @post.text %></h3>
            <hr/>
            <div class="pull-left"><i collegenamefromid cid="<%= @post.college_id%>"></i></div>
            <div class="pull-right">
            <div class="badge"><%= @post.comment_count %></div>
              <span class="comments-string">Comments</span></div>

            <div class="clearfix"></div>
            <hr/>
            <div postcomments postcollege=<%= @post.college_id %> postid=<%= @post.id %>>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
