<html>
<head>
  <link rel="stylesheet" href="stylesheets/webapp.css">
</head>
<body ng-app="cfeed">
<nav class="navbar navbar-default navbar-fixed-top" id="default" role="navigation">
  <div class="absoluteFull" id="navBg" randombgpos>

  </div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= fa_icon 'mortar-board' %><span class="light">The</span>Campus<span class="light">Feed</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#"><%= fa_icon 'file-text' %> Posts</a>
        </li>
        <li>
          <a href="#"><%= fa_icon 'university' %> Colleges</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid" ng-controller="WebappCtrl">
  <div class="modal fade" id="getAppModal" tabindex="-1" role="dialog" aria-labelledby="GetApp" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">App Only Action</h4>
        </div>
        <div class="modal-body">
          Sorry, you'll need to get our Android or iOS app to do that.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="sendEmailModal" tabindex="-1" role="dialog" aria-labelledby="SendEmail" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Share this Post</h4>
        </div>
        <div class="modal-body">
          Send an email to yourself to view this post on your mobile device.
          <div class="form-field">
            <input type="email"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4" id="posts" infinite-scroll="atBottom()">
      <div class="card slide pointer" ng-repeat="post in posts.recentPosts" ng-click="selectPost(post)" ng-class="{active: post.active}">
        <div class="card-background absoluteFull" randombgpos>
        </div>
        <div class="card-controls">
          <div class="button-container">
            <div class="button" data-toggle="modal" data-target="#getAppModal"><div class="button-text"><%= fa_icon "arrow-up" %></div></div>
            <div class="button" data-toggle="modal" data-target="#getAppModal"><div class="button-text"><%= fa_icon "arrow-down" %></div></div>
            <div class="button" data-toggle="modal" data-target="#getAppModal"><div class="button-text"><%= fa_icon "flag" %></div></div>
            <div class="button" data-toggle="modal" data-target="#sendEmailModal"><div class="button-text"><%= fa_icon "envelope" %></div></div>
          </div>
        </div>
        <div class="card-content">
          <h3 converttagstolinks="">{{post.text}}</h3>
          <hr/>
          <div class="pull-left"><i collegenamefromid cid="{{post.college_id}}"></i></div>
          <div class="pull-right">
            <div class="badge">{{post.comment_count}}</div>
            <span class="comments-string">Comments</span></div>

          <div class="clearfix"></div>
          <hr/>
          <div postcollege="{{post.college_id}}" postcomments="{{post.id}}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div data-spy="affix" data-offset-top="0" data-offset-bottom="0">
        <div class="well">
          <h4>
            Trending Colleges
          </h4>
          <hr/>
          <div>
            <div ng-repeat="college in colleges.trendingColleges">
              <a href="college/{{college.id}}">{{college.name}}</a>
            </div>
          </div>

          <hr/>

          <h4>
            Trending Tags
          </h4>
          <hr/>
          <div class="tag-container">

            <div ng-repeat="tag in tags.trendingTags">
              <a href="tag/{{tag.text}}">#{{tag.text}}</a>
            </div>
          </div>
        </div>
        <div class="well">
          <h4>
            Get the App
          </h4>
          <hr/>
          <div>
            <a href="#">iOS</a>
            <a href="#">Android</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
