<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comment.score %>
</p>

<%= link_to 'Edit', edit_api_v1_comment_path(@comment) %> |
<%= link_to 'Back', api_v1_comments_path %>
