<div ng-controller="PostSectionController">
  <accordion-group>
    <accordion-heading>
      <%= fa_icon 'file-text'%>
      Posts
      <%= fa_icon 'plus', class: 'pull-right tip', 
        'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
        title: 'add post', 'hasTooltip' => '', 'ng-click' => 'openCreateModal($event)' %>
    </accordion-heading>

    <form class="" role="search" ng-submit="">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="postOptions.searchText" ng-change="updateTotalAndPopulate()">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default" ng>
              <%= fa_icon 'search' %>
            </button>
          </div>
        </div>
      </div>
    </form>

    <alert ng-show="postOptions.error" type="danger">Error in query.</alert>
    <accordion close-others="true">
      <accordion-group ng-repeat="post in postOptions.posts" 
          ng-mouseenter="post.isOpen = true" 
          is-open="post.isOpen">
        <accordion-heading>
          {{post.text}}
          <%= fa_icon 'trash-o', class: 'pull-right tip',
            'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
            title: 'delete', 'hasTooltip' => '', 'ng-click' => 'deletePost($event, post)' %>
          <%= fa_icon 'edit', class: 'pull-right tip', 
            'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 
            title: 'edit', 'hasTooltip' => '', 'ng-click' => 'editPost($event, post)' %>
        </accordion-heading>
        <form>
          <div class="row">
            <div class="col-md-3" ng-repeat="(key,value) in post">
              <b>{{key}}:</b> 
              <u ng-hide="post.isEditing" class="pull-right postValue">{{value}}</u>
              <input type="text" ng-model="post[key]" ng-show="post.isEditing" class="" />
            </div>
          </div>
          <input type="button" ng-click="finishedEditing(post, true)" ng-show="post.isEditing" class="btn btn-info" value="Done">
          <input type="button" ng-click="finishedEditing(post, false)" ng-show="post.isEditing" class="btn btn-warning" value="Cancel">
        </form>
      </accordion-group>
    </accordion>
    <pagination total-items="postOptions.total" ng-model="postOptions.pageNo" 
        items-per-page="postOptions.perPage"
        max-size="10" class="pagination" boundary-links="true"
        ng-change="populatePosts()"></pagination>
  </accordion-group>
</div>
